<div class="container">
    <div class="row">
        <h1>Direct Message</h1>
    </div>
    <div class="row">
        <form method="post" action="/">
            <div class="room-login_user">
                ログインユーザ：{{userName}}さん
                <input id="userName" type="hidden" value={{userName}}>
            </div>
            <div class="room-message">
                <textarea id="dm" rows="4" class="room-derectmsg_textarea" placeholder="メッセージを入力..."></textarea>
            </div>
            <div class="room-submit">
                <input type="button" value="送信" class="common-button room-directmsg_button" onclick="directmsg();"> 
            </div>
            <div class="room-thread">
                <div id="thread"></div>
            </div>
            <div class="room-exit">
                <input type="button" value="退室する" class="common-button room-exit_button" onclick="exit();">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/dm_enter.js"></script>
<script src="/javascripts/dm.js"></script>