<div class="container">
    <div class="row">
        <h1>Node Chat サンプル</h1>
    </div>
    <div class="row">
        <form method="post" action="/room">
<<<<<<< HEAD
            <div class="index-user_name">
                <div class="form-group">
                    お名前
                    <input type="text" id="userName" name="userName" class="form-control">
                </div>
=======
            <div class="form-group">
                お名前
                <input type="text" id="userName" name="userName" class="form-control">
>>>>>>> 2e4f1ba02d3b47aebdfe7a41ea4ea76f07ba723a
            </div>
            <div class="index-enter">
                <!-- ボタンは大きく ドアのアイコン設置-->
                <input type="button" value="入室する" class="btn btn-success" onclick="enter();">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/check.js"></script>

